
@font-face {
    font-family: 'DOS VGA';
    src: url('../fonts/Perfect-DOS-VGA-437.woff2') format('woff2'),
         url('../fonts/Perfect-DOS-VGA-437.woff') format('woff');
}

body {
    background-color: #000000;
    color: #ffffff;
    font-family: 'DOS VGA', monospace;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
}

.ascii-art {
    font-family: monospace;
    white-space: pre;
    margin: 0;
    padding: 0;
    line-height: 1;
}
